.App {
  background: whitesmoke;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.d-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.d-flex .item {
  flex-basis: auto;
  margin: 20px;
}

.box-shadow-sm {
  box-shadow: 0 0 4px #e2e2e2;
}

.ant-list-items li{
  background: white;
  margin: 15px;
  border-radius: 4px;
}