body {
  background: #e2e2e2;
}

@keyframes breath {
  from {
    background: #11024e;
  }

  to {
    background: #170561;
  }
}
.app-container {
  padding-top: 62px;
}

.header {
  background: #615887;
  padding: 11px;
  display: flex;
  position: fixed;
  z-index: 9999;
  width: 100%;
  color: white;
  justify-content: space-between;
}
.actions {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.vocabs {
  margin: 20px auto;
  max-width: 800px;
}

.vocabs .item {
  background: white;
  margin: 17px;
  box-shadow: 0 0 5px silver;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.vocabs .item .word {
  background: #1304509e;
  font-size: 13px;
  padding: 12px 8px;
  color: white;
  min-width: 100px;
  border-radius: 5px 0 0 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.vocabs .item .definition {
  padding: 0px 20px;
  font-size: 100%;
}

.danger {
  background: #9c06069e;
  color: white;
}

.secondary {
  background: silver;
}

.primary {
  background: #1304509e;
  color: white;
}

.actions button {
  border: none;
  width: 100%;
  padding: 50px;
  font-size: 50px;
}

.vocab-content {
  display: flex;
  flex-direction: column;
}

.vocab-content .word {
  text-transform: capitalize;
}

.vocab-content .definition {
  font-size: 25px;
  text-align: justify;
}

.vocab-content .section {
  padding: 50px;
}

.search-result {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.search-result .word {
  text-transform: capitalize;
}

.search-result .definition {
  font-size: 25px;
}

.search-screen .search-button {
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #158044;
  border: none;
  box-shadow: 0 -10px 50px #08080857;
  font-size: 100px;
  color: white;
}

.search-screen .search-no-data {
  padding: 20px;
  text-align: center;
}

.ant-input {
  font-size: 25px;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.d-flex .item {
  flex-basis: auto;
  margin: 20px;
}

.box-shadow-sm {
  box-shadow: 0 0 4px #e2e2e2;
}

.ant-list-items li {
  background: white;
  margin: 15px;
  border-radius: 4px;
}
